**/*.DS_Store
**/*.iml
**/*.log

**/.gradle/
**/.idea/
**/.vscode/

**/*.7z
**/*.ear
**/*.gz
**/*.rar
**/*.tar
**/*.tgz
**/*.war
**/*.zip

**/.coverage/
**/dist/
**/node_modules/
**/yarn.lock

**/*.eslintcache
**/*.tsbuildinfo
