dist: trusty
language: node_js
cache: yarn
node_js:
- 8
addons:
  sonarcloud:
    organization: philips-software
    token:
      secure: ZPKITTg5wf8lLi9ZRiDcl8La1On0RRA71/lYBwcq0Rw9gj8R+qWtutJjfTRFkN79+f6kono98tBzqzmcFF0zk6jyA7nhE5euleylTRyIYe1rVlvP4UvRwqlHclDEA17fOLZYbTRWVZRG3j35251sc8ipjFwAhvd1dmFROq0SN8/61IPsUUom4FmahL6++hz/M0XUN8Wo3t2bjycEBfRSY++gN+/j9kb1JnCfmfXB31WE1VMBSLt1grXkUrWV3GPlYGxgu8q5VCBRMjm+qIBTzfvPpUTRFcvJgjYr655SKZ+SyjK/Jol+Xv6rVbLBm8mMwXQjdbiOJ35zC7zqwJPcv4678Ys8DI2OzrLbzGRLWM1In021JF4M/LOXt25wpobVXoqorX7qG7APntTmtEvawYWPaMsaOWtcak2N5FV/3wPFGo0MPWpmb52vpGKpsxHNXu5UmV3WcnWa+vr3cgEuHWecDQ1ncDsRwob4hsbV3RzeTQbfC4hV+gt40JXuAxoFF10f9MOsYosRFMtOot9Pl65CmFoPmrQT6ROGZB/TSp5a9zKZdksKbT/oWtLksbLf1AxnCvAgWpaOlBDhWvltWVIZO/9uIioKC9EgHDFbVZaZPGq3rVfWN5wh083nt1PE7HSIhq6UdibOmw7aECA23BHtF8ApJrS5dcYcNEFNAjY=
script:
- yarn
- yarn build
- yarn test
- sonar-scanner
deploy:
  provider: npm
  email: philips-software@philips.com
  api_key:
    secure: M1jsoPNvz8/pZhd5R5YzH1YzKvxNjGI9Wjfna5fwIsekXqgBtKCYe5bVdsdKOjxwugDUlEk+v8Pi/6YoWUY77fQuro/DgKWUsn2ENvl4akJ6OWpYOc7Kv6GG2ybLbJLoDoHvkV75vrMWL5/jcwvnQh6UpRQhLDp++mSKvuScGTIAyYQU/6z+y8Zy6fRzrLDZBP4Oy61p/1Jtv0tLDgosaVpZuGU5KTj9/2bYfj+tJR5DIKZqDjHAhPSzLLCs8wfy4qxvLNAiYqQ6Ctjpx5skxuGlmiZ5lqOuYwcmskBBMf138zGDwD6WKSgd3eNU5Q6ySaH2BK7Yc8G5iR/cOO38jF2kAg7PoW49tpiqnQCadT+beUlE/rgLY10qR2UANBVhzoxn4OoDJQSl71cMs4bsngqZviQvTC0e+aV9bRlkKgQxGsPHyVSPFQCdi1YW3djU929oAUFKzDUI3JwN/v6GWJH7CFDWjizHFxxVKbpCWVDkJ5p/SgvcpD5R0uG6FuVxlzlH7PNFvxhF9YGlk7XrOWFX9iiEb43+t4TXxkOFztkRQ48ShmVCDhOHdHazjqW4BBvFWgPE3/cl9Ir49L/QYMeaLgJikGAouJUe1CK5JXJV0aaRBM9Orslpmv+p10KVGfNzPqP4OAunLpeC/p8sM0t371KpCEX9xRMgyxrsK3g=
  on:
    tags: true
    repo: philips-software/odin
